In [2]:
import pandas as pd

In [3]:
df_full = pd.read_csv('../data/Seasons_Stats.csv')

In [4]:
df_full.describe()

,Player_id,Year,Age,G,GS,MP,PER,TS%,3PAr,FTr,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,24691.000000,24624.000000,24616.000000,24624.000000,18233.000000,24138.000000,24101.000000,24538.000000,18839.000000,24525.000000,...,23766.000000,20797.000000,20797.000000,24312.000000,24624.000000,20797.000000,20797.000000,19645.000000,24624.000000,24624.000000
mean,12345.000000,1992.594989,26.664405,50.837110,23.593375,1209.720317,12.479071,0.493001,0.158604,0.325455,...,0.719279,62.189210,147.199404,224.637381,114.852623,39.897052,24.470260,73.939832,116.339222,510.116350
std,7127.822084,17.429594,3.841892,26.496161,28.632387,941.146575,6.039014,0.094469,0.187495,0.218971,...,0.141824,67.324881,145.921912,228.190203,135.863913,38.713053,36.935084,67.713803,84.791873,492.922981
min,0.000000,1950.000000,18.000000,1.000000,0.000000,0.000000,-90.600000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6172.500000,1981.000000,24.000000,27.000000,0.000000,340.000000,9.800000,0.458000,0.005000,0.208000,...,0.657000,12.000000,33.000000,51.000000,19.000000,9.000000,3.000000,18.000000,39.000000,106.000000
50%,12345.000000,1996.000000,26.000000,58.000000,8.000000,1053.000000,12.700000,0.506000,0.064000,0.296000,...,0.743000,38.000000,106.000000,159.000000,68.000000,29.000000,11.000000,55.000000,109.000000,364.000000
75%,18517.500000,2007.000000,29.000000,75.000000,45.000000,1971.000000,15.600000,0.544000,0.288000,0.400000,...,0.808000,91.000000,212.000000,322.000000,160.000000,60.000000,29.000000,112.000000,182.000000,778.000000
max,24690.000000,2017.000000,44.000000,88.000000,83.000000,3882.000000,129.100000,1.136000,1.000000,6.000000,...,1.000000,587.000000,1111.000000,2149.000000,1164.000000,301.000000,456.000000,464.000000,386.000000,4029.000000

In [5]:
df_filtered = df_full[(df_full.Tm != 'TOT') & (df_full.Year)]

In [6]:
df_full[(df_full.Player_id == 312)].Year

312   NaN
Name: Year, dtype: float64

In [16]:
df_good_cols = df_filtered[["Player", "Pos", "MP", "DRB%", "ORB%", "TRB%", "AST%", "STL%", "BLK%", "FG", "FGA", "FG%", "3P", "3PA", "3P%", "2P", "2PA", "2P%", "eFG%", "FT", "FTA", "FT%", "ORB", "DRB", "TRB", "AST", "STL", "BLK" ]]

In [30]:
df_players_with_enough_mins_played = df_good_cols[(df_good_cols["MP"] >= 240)]

In [23]:
df_players_with_enough_mins_played.describe()

,MP,DRB%,ORB%,TRB%,AST%,STL%,BLK%,FG,FGA,FG%,...,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK
count,17541.000000,15006.000000,15006.000000,15569.000000,16335.000000,15006.000000,15006.000000,17541.000000,17541.000000,17541.000000,...,17541.000000,17541.000000,17541.000000,17537.000000,15006.000000,15006.000000,17541.000000,17541.000000,15006.000000,15006.000000
mean,1517.374950,13.886086,6.052912,9.968155,13.684083,1.664747,1.431314,249.188986,544.530814,0.449009,...,0.470068,129.944644,172.953138,0.734671,78.753632,186.651339,283.075423,145.784733,50.541383,31.182194
std,849.915088,5.852669,3.732237,4.484862,8.828055,0.691927,1.454528,186.776369,390.026550,0.057583,...,0.057674,117.108946,149.733207,0.106699,68.976948,145.840419,230.314640,142.465610,38.521281,40.095378
min,240.000000,3.000000,0.000000,2.000000,0.000000,0.000000,0.000000,5.000000,18.000000,0.158000,...,0.158000,0.000000,0.000000,0.000000,0.000000,8.000000,11.000000,0.000000,0.000000,0.000000
25%,762.000000,9.100000,2.800000,6.000000,7.200000,1.200000,0.400000,99.000000,227.000000,0.413000,...,0.436000,43.000000,61.000000,0.678000,27.000000,77.000000,115.000000,46.000000,21.000000,7.000000
50%,1441.000000,12.900000,5.500000,9.300000,11.100000,1.600000,0.900000,202.000000,450.000000,0.448000,...,0.473000,94.000000,128.000000,0.750000,56.000000,148.000000,221.000000,100.000000,41.000000,17.000000
75%,2212.000000,18.200000,8.900000,13.500000,18.100000,2.100000,1.900000,356.000000,775.000000,0.485000,...,0.507000,182.000000,240.000000,0.810000,111.000000,251.000000,380.000000,198.000000,70.000000,38.000000
max,3882.000000,38.000000,22.800000,29.700000,57.500000,5.900000,10.800000,1597.000000,3159.000000,0.748000,...,0.748000,840.000000,1363.000000,1.000000,587.000000,1111.000000,2149.000000,1164.000000,301.000000,456.000000

In [31]:
df_players_with_enough_mins_played = df_players_with_enough_mins_played[(df_players_with_enough_mins_played.Pos == "PF") | (df_players_with_enough_mins_played.Pos == "SG") | (df_players_with_enough_mins_played.Pos == "SF") | (df_players_with_enough_mins_played.Pos == "PG") | (df_players_with_enough_mins_played.Pos == "C")]

In [32]:
df_players_with_enough_mins_played.Pos.value_counts()

PF    3630
SG    3541
SF    3531
PG    3408
C     3407
Name: Pos, dtype: int64

In [33]:
df_players_with_enough_mins_played.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17517 entries, 488 to 24690
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  17517 non-null  object
 1   Pos     17517 non-null  object
 2   MP      17517 non-null  float64
 3   DRB%    15006 non-null  float64
 4   ORB%    15006 non-null  float64
 5   TRB%    15569 non-null  float64
 6   AST%    16335 non-null  float64
 7   STL%    15006 non-null  float64
 8   BLK%    15006 non-null  float64
 9   FG      17517 non-null  float64
 10  FGA     17517 non-null  float64
 11  FG%     17517 non-null  float64
 12  3P      13558 non-null  float64
 13  3PA     13558 non-null  float64
 14  3P%     12034 non-null  float64
 15  2P      17517 non-null  float64
 16  2PA     17517 non-null  float64
 17  2P%     17517 non-null  float64
 18  eFG%    17517 non-null  float64
 19  FT      17517 non-null  float64
 20  FTA     17517 non-null  float64
 21  FT%     17513 non-null  float64
 22  ORB     15006 non-null  float64
 23  DRB     15006 non-null  float64
 24  TRB     17517 non-null  float64
 25  AST     17517 non-null  float64
 26  STL     15006 non-null  float64
 27  BLK     15006 non-null  float64
dtypes: float64(26), object(2)
memory usage: 3.9+ MB

In [40]:
df_players_with_enough_mins_played = df_players_with_enough_mins_played.dropna()

In [41]:
from sklearn.model_selection import train_test_split

X=df_players_with_enough_mins_played[["DRB%","ORB%","TRB%","AST%","STL%","BLK%","FG","FGA","FG%","3P","3PA","3P%","2P","2PA","2P%","eFG%","FT","FTA","FT%","ORB","DRB","TRB","AST","STL","BLK"]]  # Features
y=df_players_with_enough_mins_played['Pos']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [42]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [43]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6772853185595568